/* Import Web Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* General styles */
body {
  background-color: #191919;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 100;
}

h1 {
  color: #ec004e;
  font-size: 5em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

h2 {
  color: rgb(0, 129, 209);
  font-size: 3em;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  color: rgb(0, 129, 209);
  font-size: 2em;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1em;
  color: rgb(138, 150, 160);
  line-height: 1.5em;
  margin-left: 10px;
}

a {
  opacity: 80%;
  color: rgb(9, 196, 121);
  text-decoration: none;
  transition: opacity 0.5s;
}

a:hover {
  text-decoration: none;
  opacity: 100%;
  transition: opacity 0.2s;
}

footer {
  background-color: black;
  color: rgb(117, 67, 109);
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 0.7em;
  padding: 5px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: opacity 0.5s;
}

img:hover {
  opacity: 80%;
  transition: opacity 0.2s;
}
