body {
    background-color: #313131;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: blanchedalmond;
    font-size: 42px;
}

p {
    font-size: 22px;
    color: blanchedalmond;
}


footer  {
    position: sticky;
    bottom: 10px;
}